@charset "UTF-8";

@media screen and (max-width: 500px){
/* 전체 높이 */
	.content-sec{
		height: auto;
	}
/* 	폼 */
	.q-content-box-td-content1{
		font-size: 1.5rem !important;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 5rem;
	}
	.q-content-box-tr1{
		border-radius: 15px !important;
	}
/* 	작성자 input */
	.q-content-box-td-content2-1{
		font-size: 0.8rem !important;
	}
	.q-content-box-td-content2-2{
		font-size: 0.8rem !important;
	}
/* 	전화번호 input */
	.q-content-box-td-content3-1{
		font-size: 0.8rem !important;
	}
	.q-content-box-td-content3-2{
		font-size: 0.8rem !important;
	}

/* 	카테고리 input */
	.q-content-box-td-content4-1{
		font-size: 0.8rem !important;
	}
	.q-content-box-td-content4-2{
		font-size: 0.8rem !important;
	}

/* 	타이틀 input */
	.q-content-box-td-content5-1{
		font-size: 0.8rem !important;
	}
	.q-content-box-td-content5-2{
		font-size: 0.8rem !important;
	}

/* 	이메일 input */
	.q-content-box-td-content6-1{
		font-size: 0.8rem !important;
	}
	.q-content-box-td-content6-2{
		font-size: 0.8rem !important;
	}
/* 	패스워드 input */
	.q-content-box-td-content7-1{
		font-size: 0.8rem !important;
	}
	.q-content-box-td-content7-2{
		font-size: 0.8rem !important;
	}
/* 	내용 input */
	.q-content-box-td-content8-1{
		font-size: 0.8rem !important;
	}
	.q-content-box-td-content8-2{
		font-size: 0.8rem !important;
		height: 10rem !important;
	}
	.q-content-box-td2:nth-child(8){
		height: 70% !important;
	}
/* 필히 작성해주세요 */
	.q-content-box-td-content9{
	 font-size: 1rem !important;
	}
/* 	확인 버튼 */
	.q-content-box-td-content10{
		width: 20%;
		height: 5vh;
		border-radius: 10px;
		font-size: 1rem;
	}
	
	
/* 	게시판 */
	.q_content-box-tr1-td3-1{
		border-radius: 15px !important;
	}
	.q_content-box-tr1-td3-1-1{
		border-radius: 15px !important;
	}
	.q_content-box-tr1-td3-1-1-1-txt{
		font-size: 1.5rem !important;
	}
/* 	행 */
	.q_content-box-tr1-td3-1-1-1-1>div>span{
		font-size: 1.1rem !important;
	}
/* 	게시판 내용 */
	.q_content-box-tr1-td3-1-1-1-2>div>span{
		font-size: 0.7rem !important;
	}
	.q_content-box-tr1-td3-1-1-1-2>div>a{
		font-size: 0.7rem !important;
	}
	.q_content-box-tr1-td3-1-1-1-2-1{
		font-size: 0.7rem !important;
	}
	.q_content-box-tr1-td3-1-1-1-2-2{
		font-size: 0.7rem !important;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block !important;       /* 인라인 요소로 처리하여 너비에 맞게 말줄임표 적용 */
		max-width: 100%;             
		word-break: break-all;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
	}
	.q_content-box-tr1-td3-1-1-1-2-3{
		font-size: 0.7rem !important;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block !important;       /* 인라인 요소로 처리하여 너비에 맞게 말줄임표 적용 */
		max-width: 80%;             
		word-break: break-all;
		text-align: left;
		margin-top: auto;
		margin-bottom: auto;
	}
	.q_content-box-tr1-td3-1-1-1-2-4{
		font-size: 0.7rem !important;
	}
	.q_content-box-tr1-td3-1-1-1-2-5{
		font-size: 0.7rem !important;
	}
	
/* 	페이징 */
	.paging-div > a{
		font-size: 1rem;
	}
	.paging-div button{
		font-size: 0.8rem;
		height: 1.8rem;
		width: 1.8rem;
	}
	
/* 게시판 전체 페이지 크기 */

	.q_content-box-tr1-td3-1{
		height: 75vh;
	}	
}