/* question detail 콘텐츠 길이 180vh */

@charset "UTF-8";

@import
	url(https://db.onlinewebfonts.com/c/18039781048bd528f6304c029f5d0f99?family=SF+Pro+JP+Regular)
	;

@font-face {
	font-family: "SF Pro JP Regular";
	src:
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.eot");
	src:
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.eot#iefix")
		format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.woff2")
		format("woff2"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.woff")
		format("woff"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.ttf")
		format("truetype"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.svg#SF Pro JP Regular")
		format("svg");
}

* {
	font-family: "SF Pro JP Regular";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

/* 전체 */
.container{
	width: 100%;
	height: auto;
}

.container-tbl{
	height: auto;
}
.content-tbl{
	height: auto;
}
.content-sec {
	height: auto;
}


/* 본문 */
.qd-content-tbl {
/* 	max-width:100vw; */
	width: 100%;
	/*   height: 265vh;  */
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.qd-content-box-tr1 {
	border-radius: 35px;
	background: rgba(255, 233, 155, 0.80);
	margin-top: auto;
	margin-bottom: auto;
	width: 95%;
	height: 100%;
}

.qd-content-box-tr2 {
	display: inline-block;
	border-radius: 35px;
	background: #FFFFFF;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	height: 95%;
}

.qd-content-box-tr2-1{
	height: 95%;
}

.qd-content-box-td1-1 {
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	border-bottom: 3px solid #6E6F4E;
	color: #62733D;
	text-align: center;
	font-size: 3rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.qd-content-box-td1-2 {
	display: flex;
	border-bottom: 1px solid #546137;
	width: 100%;
}

.qd-content-box-td1-2-1 {
	width: 20%;
	color: #546137;
	background: rgba(210, 210, 162, 0.50);
	text-align: center;
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-top: 1%;
	padding-bottom: 1%;
}

.qd-content-box-td1-2-2 {
	margin-left: 5%;
	color: #546137;
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #546137;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 80%;
}

.qd-content-box-td1-3 {
	display: flex;
	width: 100%;
	border-bottom: 1px solid #546137;
	width: 100%;
}

.qd-content-box-td1-3-1 {
	width: 20%;
	color: #546137;
	background: rgba(210, 210, 162, 0.50);
	text-align: center;
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-top: 1%;
	padding-bottom: 1%;
}

.qd-content-box-td1-3-2 {
	color: #546137;
	margin-left: 5%;
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 80%;
}

.qd-content-box-td1-4 {
	border-bottom: 1px solid #546137;
	display: flex;
	justify-content: space-between;
}

.qd-content-box-td1-4-content {
	width: 80%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.qd-content-box-td1-4-1 {
	margin-left: 10%;
	color: #546137;
	text-align: center;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.qd-content-box-td1-4-2 {
	color: #9F9F78;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 3%;
}

.qd-content-box-td-button {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	height: 3rem;
	margin: 1%;
}

.qd-content-box-td-button-1 {
	border-radius: 5px;
	border: 1px solid #62733D;
	background: #FFF;
	color: #62733D;
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: 2%;
	padding-right: 2%;
	margin: 10%;
}

.qd-content-box-td-button-2 {
	border-radius: 5px;
	border: 1px solid #62733D;
	background: #FFF;
	color: #62733D;
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: 2%;
	padding-right: 2%;
}

.qd-content-box-td2-1 {
	width: 100%;
	height: auto;
	display: flex;
	padding-left: 5%;
	padding-right: 5%;
	border-bottom: 3px solid #9F9F78;
}

.qd-content-box-td2-1-content {
	width: 100%;
	padding: 5%;
	color: #000;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.81px;
}

.qd-content-box-td2-2{
	
	padding: 1%;
	border-top: 1px solid #9F9F78;
}

.qd-content-box-td2-2-button {
	width: 15%;
	height: 20%;
	font-size: 2rem;
	border-radius: 15px;
	background: #FFF;
	margin: 2%;
	margin-left: 4%;
	padding: 1%;
	/* 	txt */
	color: #546137;
	text-align: center;
	font-style: normal;
	font-weight: 1000;
	line-height: normal;
	letter-spacing: 0.81px;
}

.qd-content-box-td3{
	padding-left: 1%;
	padding-right: 1%;
	
}

.qd-content-box-td3-1 {
	display: flex;
	border: 1px solid #62733D;
	border-bottom: 0px;
	padding-top: 1%;
	padding-bottom: 1%;
}

.qd-content-box-td3-1-1 {
	color: #546137;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 5%;
	margin-right: 2%;
}

.qd-content-box-td3-1-2 {
	color: #9F9F78;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 2%;
	margin-right: 2%;
}

.qd-content-box-td3-2 {
	height: auto;
	border: 1px solid #62733D;
	margin-bottom: 1%;
	display: flex;
	padding-top: 3%;
	padding-bottom: 3%;
}

.qd-content-box-td3-2-1 {
	margin-left: 3%;
	margin-right: 3%;
}

.qd-content-box-td3-2-2 {
	color: #546137;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.qd-content-box-td4{
	border: 1px solid #62733D;
}

.qd-content-box-td4-1 {
	display: flex;
}

.qd-content-box-td4-1-1 {
	border-right: 1px solid #62733D;
	width: 20%;
	color: #546137;
	background: rgba(210, 210, 162, 0.50);
	text-align: center;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-top: 1%;
	padding-bottom: 1%;
}

.qd-content-box-td4-1-2 {
	margin-left: 5%;
	color: #546137;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #546137;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 80%;
}

.qd-content-box-td4-1-2 > a{
	color: 	#546137;
}

.qd-content-box-td4-2 {
	display: flex;
	border-top: 1px solid #62733D;
}

.qd-content-box-td4-2-1 {
	border-right: 1px solid #62733D;
	width: 20%;
	color: #546137;
	background: rgba(210, 210, 162, 0.50);
	text-align: center;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-top: 1%;
	padding-bottom: 1%;
}

.qd-content-box-td4-2-2 {
	margin-left: 5%;
	color: #546137;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #546137;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 80%;
}

.qd-content-box-td4-2-2 > a{
	color: #546137;
}

.qd-content-box-td4-3 {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	padding: 1%;
}

.qd-content-box-td4-3-1 {
	text-align: right;
	color: #546137;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

/* 패스워드 상자 디스플레이 */
#password_content{
	display: none;
}
#password_input{
	display: flex;
	width: 40%;
}
#password{
	width: 50%;
	font-size: 1.5rem;
}
#password_submit_btn{
	margin-left:5%;
	font-size: 1rem;
	height: 100%;
	padding-left: 3%;
	padding-right: 3%;
}
#wrong_password{
	font-size: 1.5rem;
}
#disabledPost{
	color: #333;
}