/* 서비스 완료 */
.content-step-page-td {
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.8);
	height: auto;
}

.content-step-page-td {
	display: block;
}

.content-step-page-td>.content-step-page-td-tr1 {
	color: #546137;
	text-align: center;
	text-shadow: 10px 10px 10px #e8d48d;
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 3%;
}

@media ( max-width : 500px ) {
	.content-step-page-td>.content-step-page-td-tr1 {
		font-size: 1.5rem;
	}
}

.content-step-page-td>.content-step-page-td-tr2 {
	color: #546137;
	text-align: center;
	font-size: 2.3rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-top: 7%;
	padding-bottom: 5%;
}

@media ( max-width : 500px ) {
	.content-step-page-td>.content-step-page-td-tr2 {
		font-size: 1.3rem;
	}
}

.content-step-page-td>.content-step-page-td-tr2>div {
	padding-bottom: 1%;
}

.content-step-page-td>.content-step-page-td-tr3>.content-step-page-td-tr3-1
	{
	padding: 1.5% 3%;
	font-size: 2.7rem;
	color: #546137;
	background-color: #ffdf6c;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

@media ( max-width : 500px ) {
	.content-step-page-td>.content-step-page-td-tr3>.content-step-page-td-tr3-1
		{
		font-size: 1.7rem;
	}
}

.content-step-page-td-tr3 {
	padding-bottom: 5%
}