/* apply form */
.content-applyform-td {
	height: 37.14%;
}

.content-applyform-tr-1 {
	height: 6rem;
	margin: 2%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.categotyselect {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 60%;
	height: 100%;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
	/* 	txt */
	color: #546137;
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

@media ( max-width : 500px ) {
	.categotyselect {
		/* 	txt */
		font-size: 1rem;
	}
}

.content-applyform-tr-2 {
	display: flex;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.content-applyform-tr-2-1 {
	color: #546137;
	text-align: center;
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 30%;
	height: 50%;
}

@media ( max-width : 500px ) {
	.content-applyform-tr-2-1 {
		width: 70%;
		/* 	txt */
		font-size: 1rem;
	}
}

.content-applyform-tr-2-2 {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	border: 1px solid black;
}

@media ( max-width : 500px ) {
	.content-applyform-tr-2-2 {
		/* 	txt */
		font-size: 1rem;
	}
}

.content-applyform-tr-2-2 input[type=radio] {
	display: none;
}

.content-applyform-tr-2-2 input[type="radio"]+label {
	display: flex;
	cursor: pointer;
	width: 50%;
	border: 1px solid #333;
	line-height: 24px;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 2.5rem;
	background-color: #fff;
	color: #546137;
	height: 100%;
}

@media ( max-width : 500px ) {
	.content-applyform-tr-2-2 input[type="radio"]+label {
		/* 	txt */
		font-size: 1rem;
	}
}

.content-applyform-tr-2-2 input[type="radio"]:checked+label {
	background-color: #ffdf6c;
	color: #546137;
}

.content-applyform-tr-2-3 {
	width: 50%
}

.content-applyform-tr-2-4 {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
}

@media ( max-width : 500px ) {
	.content-applyform-tr-2-4 {
		/* 	txt */
		font-size: 1rem;
	}
}

.content-applyform-tr-2-4 label {
	display: flex;
	margin-right: 1%;
	width: 100%
}

.content-applyform-tr-2-4 select {
	font-size: 2.5rem;
	text-align: center;
	width: 100%
}

@media ( max-width : 500px ) {
	.content-applyform-tr-2-4 select {
		font-size: 1rem;
		-webkit-appearance: none; /* 크롬 화살표 없애기 */
		-moz-appearance: none; /* 파이어폭스 화살표 없애기 */
		appearance: none /* 화살표 없애기 */
	}
}

.content-applyform-tr-2-4 select::-webkit-scrollbar {
	width: 30%;
}

.content-applyform-tr-2-4 select::-webkit-scrollbar-thumb {
	background-color: #b6b6b6;
	border-radius: 3px;
}

.content-applyform-tr-2-4 select::-webkit-scrollbar-track {
	background-color: #ebe9e9;
	border-radius: 6px;
}

.content-applyform-tr-2:nth-child(8) {
	height: 40vh;
}

@media ( max-width : 500px ) {
	.content-applyform-tr-2:nth-child(8) {
		height: 12vh;
	}
}

.content-cal-btn-box-td {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-cal-btn-td {
	background-color: #ffdf6c;
	border-color: #546137;
	filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.3));
	width: 25%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3%;
	padding: 1%;
	border-radius: 10px;
	color: #546137;
	text-align: center;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	cursor: pointer;
}

@media ( max-width : 500px ) {
	.content-cal-btn-td {
		/* 	txt */
		font-size: 1.5rem;
	}
}