@import
	url(https://db.onlinewebfonts.com/c/18039781048bd528f6304c029f5d0f99?family=SF+Pro+JP+Regular)
	;

@font-face {
	font-family: "SF Pro JP Regular";
	src:
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.eot");
	src:
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.eot?#iefix")
		format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.woff2")
		format("woff2"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.woff")
		format("woff"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.ttf")
		format("truetype"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.svg#SF Pro JP Regular")
		format("svg");
}

* {
	font-family: "SF Pro JP Regular";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.container {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.menu-tr {
	width: 17vw;
	height: 100vh;
	background-color: #4a572e;
}

.menu-td-1 {
	width: 17vw;
	height: 10vh;
	border-bottom: solid 0.5px #738749;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-td-1>a {
	color: #ffffff;
	font-size: 4rem;
}

.menu-td-2 {
	width: 17vw;
	height: 12.5vh;
	border-bottom: solid 0.5px #738749;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: #ffffff;
}

.menu-td-2-td {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 80%;
	justify-content: space-evenly;
	font-size: 1.5rem;
}

.menu-td-2-td>div {
	display: flex;
	align-items: center;
	gap: 10%;
}

.menu-td-2-td>div:nth-child(2)>a {
	color: #ffffff;
}

.menu-td-3 {
	width: 17vw;
	height: 67.5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-td-3-td-1 {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 80%;
	height: 5%;
	color: #738749;
}

.menu-td-3-td-2 {
	display: flex;
	flex-direction: column;
	height: 95%;
	width: 100%;
	justify-content: start;
	padding-top: 2.5%;
	gap: 2.5%;
}

.menu-td-3-td-2>div:first-child {
	display: flex;
	align-items: center;
	padding: 1.5%;
	padding-left: 10%;
	gap: 5%;
	font-size: 1.5rem;
}

.menu-td-3-td-2>div:first-child>a {
	color: #ffffff;
}

.menu-td-3-td-open-td-2 {
	display: flex;
	flex-direction: column;
	height: 7%;
}

.menu-td-3-td-open-td-2-td-1 {
	display: flex;
	align-items: center;
	gap: 5%;
	width: 100%;
	padding: 1.5%;
	padding-left: 10%;
	background-color: none;
	font-size: 1.5rem;
}

.menu-td-3-td-open-td-2-td-1>span {
	color: #ffffff;
}

.menu-td-3-td-open-td-2-td-1>span:hover {
	cursor: pointer;
}

.menu-td-3-td-open-td-2-con {
	visibility: hidden;
}

.menu-td-3-td-open-td-2-con-td-2 {
	display: flex;
	flex-direction: column;
	padding-left: 0;
}

.menu-td-3-td-open-td-2-con-td-2-select {
	display: flex;
	width: 100%;
	align-items: end;
	padding-top: 5%;
	font-size: 1.2rem;
}

.menu-td-3-td-open-td-2-con-td-2-select>a {
	color: #ffffff;
	padding-left: 5%;
}

.menu-td-3-td-open-td-2-con-td-2-select>img {
	width: 10%;
	visibility: hidden;
}

.menu-td-4 {
	width: 17vw;
	height: 10vh;
	background-color: #2a321a;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}

.menu-td-4-td {
	display: flex;
	font-size: 1.5rem;
	justify-content: start;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 2rem;
}

.menu-td-4-td>div {
	width: 100%;
	display: flex;
	align-items: center;
	margin-left: 10%;
	gap: 10%;
}

.header-tr {
	width: 83vw;
	height: 10vh;
	background-color: #ffffff;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.header-td {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	align-items: center;
}

.header-td-user {
	width: 15%;
	height: 60%;
}

.header-td-user>div {
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 2.5rem;
	font-weight: 700;
	color: #4E4E4E;
}

.header-td-button {
	display: flex;
	width: 32.5%;
	height: 60%;
	justify-content: space-between;
}

.header-td-button>div {
	display: flex;
	width: 47.5%;
	justify-content: space-between;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
}

.header-td-button>div>a {
	color: white;
}

.header-td-button>div:first-child {
	border-radius: 5px;
	background: #99B361;
}

.header-td-button>div:last-child {
	border-radius: 5px;
	background: #A5A5A5;
}

.content-tr {
	width: 83vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
}

.content-main-td {
	width: 95%;
	height: 95%;
	border-radius: var(- -border-radius-tremor-small, 3px);
	border: 0.5px solid var(- -boarder-default, #E5E7EB);
	background: var(- -background-default, #FFF);
	box-shadow: 0px 0.2px 1.5px 0px rgba(0, 0, 0, 0.10), 0px 1px 0px -1px
		rgba(0, 0, 0, 0.10);
	/* 아래의 속성 추가함*/
	background-color: white;
}

.content-m-td-1 {
	width: 100%;
	height: 12%;
	display: flex;
	align-items: center;
	border-bottom: solid 0.5px #d9d9d9;
	padding-left: 5%;
}

.content-m-td-title {
	font-size: 2.5rem;
	font-weight: 700;
}

/* ************************�쐞濡쒖닔�젙湲덉�************************ */
