<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://db.onlinewebfonts.com/c/18039781048bd528f6304c029f5d0f99?family=SF+Pro+JP+Regular"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="0.css/index.css" />
    <link rel="stylesheet" href="0.css/index-menu.css" />
    <link rel="stylesheet" href="0.css/index-footer.css" />
    <!-- 제이쿼리 -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <!-- 헤더 js -->
    <script src="0.js/index-menu.js"></script>
    <!-- 배경이미지 js -->
    <script src="0.js/background-img.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- 헤더 html 시작 -->
      <div class="header-tbl">
        <div class="header-opmenu-back"></div>
        <div class="header-tr-1">
          <div class="header-br-logo">
            <img src="0.img/logo.png" />
            <a href="">ハロー</a>
          </div>
          <div class="header-br-space"></div>
          <div class="header-br-call">Tel. 06-6997-6531</div>
        </div>
        <div class="header-tr-2">
          <div class="header-td">
            <div class="header-td-menu">
              <div class="header-td-menu-title">
                <a href="" class=""
                  >소개
                  <span class="header-td-menu-under"></span>
                </a>
              </div>
              <div class="header-opmenu-td">
                <a class="header-opmenu-a" href="">회사소개</a>
                <a class="header-opmenu-a" href="">오시는길</a>
              </div>
            </div>
            <div class="header-td-menu">
              <div class="header-td-menu-title">
                <a href="" class=""
                  >소식
                  <span class="header-td-menu-under"></span>
                </a>
              </div>
              <div class="header-opmenu-td">
                <a class="header-opmenu-a" href="">공지사항</a>
                <a class="header-opmenu-a" href="">앨범</a>
                <a class="header-opmenu-a" href="">채용공고</a>
              </div>
            </div>
            <div class="header-td-menu">
              <div class="header-td-menu-title">
                <a href="" class=""
                  >서비스
                  <span class="header-td-menu-under"></span>
                </a>
              </div>
              <div class="header-opmenu-td">
                <a class="header-opmenu-a" href="">서비스안내</a>
                <a class="header-opmenu-a" href="">서비스신청</a>
              </div>
            </div>
            <div class="header-td-menu">
              <div class="header-td-menu-title">
                <a href="" class=""
                  >QnA
                  <span class="header-td-menu-under"></span>
                </a>
              </div>
              <div class="header-opmenu-td">
                <a class="header-opmenu-a" href="">자주묻는질문</a>
                <a class="header-opmenu-a" href="">문의게시판</a>
              </div>
            </div>
            <div class="header-td-menu">
              <div class="header-td-menu-img">
                <img src="0.img/🦆 icon _menu_.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 헤더끝 -->

      <!-- - 배경이미지 - div -->
      <div id="background-img">
        <div class="background img-rightCloud">
          <img src="0.img/rightCloud.PNG" alt="" />
        </div>
        <div class="background img-leftCloud">
          <img src="0.img/leftCloud.PNG" alt="" />
        </div>
        <div class="background img-rightPink">
          <img src="0.img/rightPinkCloud.PNG" alt="" />
        </div>
        <div class="background img-leftPink">
          <img src="0.img/leftPinkCloud.PNG" alt="" />
        </div>
        <div class="background img-sunset">
          <img src="0.img/sunset.PNG" alt="" />
        </div>
        <div class="background img-mountain">
          <img src="0.img/mountain.PNG" alt="" />
        </div>
      </div>
      <!-- 배경이미지 끝 -->

      <div class="slogan-tbl">
        <div>
          "더 행복한 내일을 함께하는 요양서비스 ハロー<br />가족처럼
          모시겠습니다."
        </div>
      </div>
      <div class="quick-menu-tbl">
        <div class="quick-menu-tr">채용공고</div>
        <div class="quick-menu-tr">신청</div>
        <div class="quick-menu-tr">문의</div>
      </div>
      <div class="main-notice-tbl" id="page1">
        <div class="main-notice-tr1">공지사항</div>
        <div class="main-notice-tr2">
          <div class="main-notice-td">
            <div class="main-notice-td-title">●공지제목1</div>
            <div class="main-notice-td-txt">공지내용1 asdasd</div>
          </div>
          <div class="main-notice-td">
            <div class="main-notice-td-title">●공지제목2</div>
            <div class="main-notice-td-txt">공지내용2 asdasd</div>
          </div>
          <div class="main-notice-td">
            <div class="main-notice-td-title">●공지제목3</div>
            <div class="main-notice-td-txt">공지내용3 asdasd</div>
          </div>
        </div>
      </div>
      <div class="main-map-tbl" id="page2">
        <div class="main-map-tr1">
          <div class="main-map-box">구글맵 연동~~</div>
        </div>
        <div class="main-map-tr2">
          <div class="main-map-td1">오시는길~</div>
          <div class="main-map-td2">
            <div>●주소<br />大阪府守口市馬場町3-14-6メゾンエミール701号</div>
          </div>
        </div>
      </div>

      <!-- 리모컨 ~~ -->
      <div class="remote-control-tbl">
        <a href="">
          <div class="remote-control-tr">
            <div class="remote-control-td2">
              <img src="0.img/re-up.png" width="55%" alt="" />
            </div>
            <div class="remote-control-td">상단으로</div>
          </div>
        </a>
        <a href="">
          <div class="remote-control-tr">
            <div class="remote-control-td2">
              <img src="0.img/line-icon22.png" width="60%" alt="" />
            </div>
            <div class="remote-control-td">1:1문의</div>
          </div>
        </a>
      </div>

      <!-- Footer풋터 시작 -->
      <div class="footer-tbl">
        <div class="footer-tr">
          <div class="footer-item-td-1">
            Tel. 06-6997-6531 <br />
            FAX : 06-6997-6520 <br />
            PhoneNumber : 090-8799-3855 <br />
            email : hello20201110@gmail.com <br />
            address : 大阪府守口市馬場町3-14-6メゾンエミール701号
            <br />
          </div>
          <div class="footer-item-td-2">
            <div>
              合同会社<img src="0.img/footerlogo.png" alt="" /><a>ハロー </a>
            </div>
            <div>
              代表社員　：　大出　昭子　<img
                src="0.img/footerinstaicon.png"
                alt=""
              />　<img src="0.img/footerlineicon.png" alt="" />
            </div>
            <div>Copyright 2023. MGKD.All rights reserved</div>
          </div>
        </div>
      </div>
      <!-- Footer풋터 끝 -->
    </div>
  </body>
</html>
