
.container-tbl {
	height: 254vh;
}

.content-sec {
	height: 135vh;
}
.a_content-tbl {
	width: 100%;
	height: 135vh; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.a_content-box-tr1 {
	border-radius: 35px;
	background-color: #fffcf0;
	opacity: 0.90;
	width: 95%;
	height: 100%;
}

.a_content-box-tr1 a:link {
	color: inherit;
	text-decoration: none;
}

.a_content-box-tr1 a:visited {
	color: inherit;
	text-decoration: none;
}

.a_content-box-tr1 a:hover {
	color: inherit;
	text-decoration: none;
}

/* 23-12-14 변동사항 */
.a_content-box-tr1-td1 {
	display: flex;
	/* outline: solid 2px purple; */
	width: 100%;
	height: 15vh;
}

/* 23-12-14 변동사항 */
.a_content-box-tr1-td1-1, .a_content-box-tr1-td1-2,
	.a_content-box-tr1-td1-3 {
	width: 33.33%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.a_content-box-tr1-td1-1 {
	background: #fffcf0;
	border-top-left-radius: 35px;
}

.a_content-box-tr1-td1-2 {
	background: #ffd66c;
}

.a_content-box-tr1-td1-3 {
	background: #849461;
	border-top-right-radius: 35px;
}

.a_content-box-tr1-td1-1>span, .a_content-box-tr1-td1-2>span,
	.a_content-box-tr1-td1-3>span {
	font-size: 2.5rem; /* 23-12-14 변동사항 */
	font-weight: 700;
}

.a_content-box-tr1-td1-1>span {
	color: #62733d;
	text-shadow: 4px 4px 4px #ffdf6c;
}

.a_content-box-tr1-td1-2>span {
	color: #62733d;
}

.a_content-box-tr1-td1-3>span {
	color: #fff;
}

/* 그림 > 소식 > 공지사항 시작 */

/* 공통 */
.a_content-box-tr1-td2 {
	width: 95%;
	height: 15vh;
	padding-top: 2%;
	color: #546137;
	font-size: 1.5rem;
	font-weight: 700;
}

/* 공통 */
.a_content-box-tr1-td2-1 {
	display: flex;
	justify-content: end;
}

.a_content-box-tr1-td2-2 {
	display: flex;
}

.a_content-box-tr1-td2>img {
	width: 1.5%; /* 23-12-14 변동사항 */
}

.a_content-box-tr1-td2-2>div:last-child {
	margin-right: 0; /* 마지막 텍스트의 오른쪽 간격 제거 */
}

.a_content-box-tr1-td2-2-1>span, .a_content-box-tr1-td2-2-2>span,
	.a_content-box-tr1-td2-2-3>span, .a_content-box-tr1-td2-2-4>span {
	font-size: 1.5rem; /* 추후 재 조절 */
	font-weight: 700;
	color: #546137;
	white-space: nowrap; /* 텍스트가 다음 줄로 넘어가지 않도록 설정 */
}

.a_content-box-tr1-td3 {
	height: 75%;
	width: 100%;
	display: flex;
	justify-content: center;
}

/* 뒷 배경용 */
.a_content-box-tr1-td3-1 {
	display: flex;
	align-items: center;
	height: 96%; /* 23-12-14 변동사항 */
	width: 90%;
	background: #ffedaf;
	border-radius: 30px;
}

.a_content-box-tr1-td3-1-1 {
	width: 100%;
	height: 94%; /* 추후 */
	background: #ffffff;
	border-radius: 30px;
	display: flex;
	align-items: center;
}

.a_content-box-tr1-td3-1-1-1 {
	width: 100%;
	height: 90%;
	/* outline: 1px solid blue; */
	background: #ffffff;
}

.a_content-box-tr1-td3-1-1-1-1 {
	display: flex;
	height: 10%; /* 조절 */
	padding-top: 3%;
	padding-bottom: 3%;
	border-top: 3px solid #6e6f4e;
	border-bottom: 3px solid #6e6f4e;
}

/* 첫행 한줄밖에없으니까 이거는 수동조절하면될거같음 */
.a_content-box-tr1-td3-1-1-1-1>div {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.a_content-box-tr1-td3-1-1-1-1>div>span {
	color: #546137;
	text-align: center;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

/*------------------------*/
/* 여기는 컬럼 폭 수정 부분임 */
/*------------------------*/
.No-width {
	flex: 0.5;
}

.writer-width {
	flex: 1.3;
	white-space: nowrap; /* 글자가 한 줄로 표시되도록 함 */
}

.title-width {
	flex: 3.4;
}

.category-width {
	flex: 1;
	white-space: nowrap; /* 글자가 한 줄로 표시되도록 함 */
}

.reg-width {
	flex: 1;
	white-space: nowrap; /* 글자가 한 줄로 표시되도록 함 */
}

.a_content-box-tr1-td3-1-1-1-2 {
	display: flex;
	height: 16%; /* 조절 */
	border-bottom: 3px solid #6e6f4e;
}

.a_content-box-tr1-td3-1-1-1-2>div {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.a_content-box-tr1-td3-1-1-1-2>div>span {
	font-size: 1.5em;
	color: #546137;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.a_content-box-tr1-td3-1-1-1-2-3 {
	display: flex;
	align-items: center;
	justify-content: flex-start !important;
}

.a_content-box-tr1-td3-1-1-1-2-3 span {
    display: block; /* 또는 inline-block */
    width: 80%; /* 말줄임을 원하는 너비로 설정 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.a_content-box-tr1-td3-1-2 {
	/* 	outline: 1px solid red; */
	position: absolute;
	bottom: -93%;
}

/* 모달 관련 시작 */
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #fff;
	padding: 0% 1%;
	border-radius: 20px;
	width: 80%;
	height: 80%;
	/* 	outline: 1px solid gray; */
}

.modal-content-1 {
	height: 100%;
	width: 100%;
	/* 	outline: 1px solid brown; */
}

.a_content-box-tr1-td3-1-1-1-2-3, .qd-content-box-td2-2-button {
	cursor: pointer;
	transition: font-size 0.3s, font-weight 0.3s;
}

/*-------------소스활용 시작 ------*/
.qd-content-box-td1-1 {
	padding-bottom: 0.2%;
	width: 100%;
	border-bottom: 3px solid #6e6f4e;
	color: #62733d;
	text-align: center;
/* 	font-family: Inter; */
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.qd-content-box-td1-2 {
	display: flex;
	border-bottom: 1px solid #546137;
	width: 100%;
}

.qd-content-box-td1-2-1 {
	width: 20%;
	color: #546137;
	background: rgba(210, 210, 162, 0.5);
	text-align: center;
/* 	font-family: Inter; */
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	font-family: "SF Pro JP Regular";
	white-space: nowrap;
    display: flex;
  	justify-content: center;
    align-items: center;
}

.qd-content-box-td2-1-content {
	overflow-wrap: break-word;
}

.qd-content-box-td1-2-2 {
	margin-left: 5%;
	color: #546137;
	font-family: Inter;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #546137;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	font-family: "SF Pro JP Regular";
}

.qd-content-box-td1-3 {
	display: flex;
	width: 100%;
	border-bottom: 1px solid #546137;
	width: 100%;
}

.qd-content-box-td1-3-1 {
	width: 20%;
	color: #546137;
	background: rgba(210, 210, 162, 0.5);
	text-align: center;
	font-family: Inter;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	font-family: "SF Pro JP Regular";
}

.qd-content-box-td1-3-2 {
	color: #546137;
	margin-left: 5%;
	font-family: Inter;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	font-family: "SF Pro JP Regular";
}

.qd-content-box-td1-4 {
	border-bottom: 1px solid #546137;
	display: flex;
	justify-content: space-between;
}

.qd-content-box-td1-4-content {
	width: 80%;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
}

.qd-content-box-td1-4-1 {
	margin-left: 10%;
	color: #546137;
	text-align: center;
	font-family: Inter;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	font-family: "SF Pro JP Regular";
}

.qd-content-box-td1-4-2 {
	color: #9f9f78;
	font-family: Inter;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 3%;
}

.qd-content-box-td2-1 {
	width: 100%;
	display: flex;
	height: 65%;
	padding-left: 2%;
	padding-right: 2%;
	border-bottom: 3px solid #9f9f78;
	overflow-y: auto;
}

.qd-content-box-td2-1-content {
	width: 100%;
	padding: 1% 1%;
	/* 	color: #000; */
	/* 	font-family: Inter; */
	/* 	font-size: 1.8rem; */
	/* 	font-style: normal; */
	/* 	font-weight: 700; */
	/* 	line-height: normal; */
	/* 	letter-spacing: 0.81px; */
	/* 	outline: 2px solid pink; */
	height: 50vh;
}

.qd-content-box-td2-2 {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 0.6%;
	border-top: 1px solid #9f9f78;
	flex-wrap: nowrap;
}

.qd-content-box-td2-2-button {
	width: 15%;
	height: 20%;
	font-size: 2rem;
	border-radius: 15px;
	background: #fff;
	/* 	txt */
	color: #546137;
	text-align: center;
	font-family: Inter;
	font-style: normal;
	font-weight: 1000;
	line-height: normal;
	letter-spacing: 0.81px;
	font-family: "SF Pro JP Regular";
}

/* 소스 활용 끝 */
/* 모달 관련 시작 */
.paging-div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
}

.paging-div button, .paging-div a {
	white-space: nowrap;
	margin: 0 0.3%;
}

.paging-div button {
	font-size: 1rem;
	width: 3rem;
	height: 3rem;
	font-weight: 700;
	background: #849461;
	border: none;
	border-radius: 15%;
	cursor: pointer;
	color: #ffd66c;
}

.current-page {
	color: #ffd66c !important;
	font-weight: 700;
}

.paging-div>a {
	line-height: 1; /* 1을 주로 사용하여 글자를 세로 중앙 정렬합니다. */
	align-items: center;
	font-size: 2rem;
}

/* 여기에 <figure class="image">에 속성을 준다. 왜냐면 DB저장할 때 주면 이미지를 넣을 때마다 45자씩 추가되기 때문이다... 문제 발생시 연락주세요 -김진욱- */
.image {
	display: flex;
	justify-content: center;
}

.image>img {
	max-width: 100%;
}

/* 여기에 이미지 리사이즈 속성을 준다*/
.qd-content-box-td2-1-content .image-style-side {
	float: right;
	margin-left: var(- -ck-image-style-spacing);
}

.qd-content-box-td2-1-content figure.image {
	margin: .9em auto;
	text-align: center;
}

.qd-content-box-td2-1-content .image.image_resized {
	display: block;
	box-sizing: border-box;
}

.qd-content-box-td2-1-content .image.image_resized img {
	width: 100%;
}

/* 미디어 쿼리 작업 시작 */
@media only screen and (max-width: 500px) {
	
	.header-tbl {
/* 		outline: 1px solid red; */
	}
	
	.bottom-venner-tr {
/* 		outline: 1px solid blue; */
	}
	
	.content-sec {
/* 		outline: 1px solid red; */
		height: 80vh;
	}
	
	.a_content-tbl {
		height: 80vh;
	}
	
	.header-tr-2 .header-opmenu, .header-opmenu {
		display: none;
	}
	
	.modal-content {
		width: 100%;
		height: 90%;
	}
	
	.ck-content {
		height: auto;
	}
	
	.a_content-box-tr1-td1 {
		height: 8vh;
	}
	
	.a_content-box-tr1-td1-1>span, .a_content-box-tr1-td1-2>span,
		.a_content-box-tr1-td1-3>span {
		font-size: 1.5rem;
	}
	
	.a_content-box-tr1-td2 {
		height: 5vh;
	}
	
	.a_content-box-tr1-td2 {
		font-size: 1.0rem;
	}
	
	.a_content-box-tr1-td2-1>img {
		width: 5.3%;
		margin-right: 1.5%;
	}
	
	.a_content-box-tr1-td3 {
   	    height: 94%;
	}
	
	.a_content-box-tr1-td3-1 {
		height: 86%;
	}
	
	.a_content-box-tr1-td3-1-1-1-1 {
		height: 11%;
	}
	
	.a_content-box-tr1-td3-1-1-1-1>div>span {
		font-size: 1.0rem;
	}
	
	.a_content-box-tr1-td3-1-1-1-2>div>span {
		font-size: 1.0rem;
	}
	
	.a_content-box-tr1-td3-1-1-1-1-2 {
		display: none !important;
	}
	
	.a_content-box-tr1-td3-1-1-1-2-2 {
		display: none !important;
	}
	
	.a_content-box-tr1-td3-1-1-1-2-3 {
		display: block;
	    width: 70%; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    white-space: nowrap;
	
	}
	  
	.a_content-box-tr1-td3-1-1-1-2-3 span {
	    display: block;
	    width: 88%; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	    white-space: nowrap;
	}
	
	.a_content-box-tr1-td3-1-1-1-2-4 {
		display: none !important;
	}
	
	.a_content-box-tr1-td3-1-1-1-1-4 {
		display: none !important;
	}
	
	.paging-div {
		height: 14%;
	} 
	
	.paging-div button {
	    width: 1.7rem;
	    height: 2rem;
	}
	
	.paging-div a {
		font-size: 1.7rem;	
	}
	
	.qd-content-box-td1-1 {
		font-size: 1.5rem;
	}
	
	.qd-content-box-td1-2-1 {
    	white-space: nowrap;
    	width: 18.7%;
	}
	
	.qd-content-box-td1-2-2 {
		white-space: nowrap;
		overflow-y: auto;
	}
	
	.qd-content-box-td2-1 {
		height: 72%;		
	} 
	
	.qd-content-box-td2-2 {
		padding-top: 4.3%;
	}
	
	.qd-content-box-td2-2-button {
	    width: 50%;
    	font-size: 1.4rem;	
	}
	
	.qd-content-box-td1-3-1 {
		width: 18.6%;
		font-size: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		white-space: nowrap;
	}
	
	.qd-content-box-td1-4-1 {
    	margin-left: 0.9%;
	}
	
	.qd-content-box-td1-4-2 {
		white-space: nowrap;
		margin-left: 0%;
		font-size: 1.2rem;
	}

}