@charset "UTF-8";
@import
	url(https://db.onlinewebfonts.com/c/18039781048bd528f6304c029f5d0f99?family=SF+Pro+JP+Regular)
	;

@font-face {
	font-family: "SF Pro JP Regular";
	src:
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.eot");
	src:
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.eot?#iefix")
		format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.woff2")
		format("woff2"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.woff")
		format("woff"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.ttf")
		format("truetype"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.svg#SF Pro JP Regular")
		format("svg");
}

.content-m-td-3 {
	padding: 0% 6%;
	width: 100%;
	height: 88%;
	position: relative;
	display: flex;
}

.content-m-td-2-side {
	width: 45%;
	height: 100%;
	display: block;
}

.content-m-td-2-mid {
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-m-td-2-side-up {
	height: 20%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-m-td-2-side-up-title {
	height: 100%;
	width: 90%;
	display: flex;
	align-items: center;
	font-size: 2.5rem;
	font-weight: 700;
}

.content-m-td-2-side-mid {
	height: 60%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-m-td-2-side-mid-logo {
	border-radius: var(- -Medium, 4px);
	border: 1px solid
		var(- -neutral-stroke-transparent-rest, rgba(255, 255, 255, 0.00));
	background: var(- -neutral-background-1-rest, #FFF);
		background-size: contain; /* 이미지 div에 전체 */
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo_result {
	text-align: center;
	margin-left: auto;
}

.success {
	color: blue;
}

.error {
	color: red;
}

/* 로고이미지 변경쪽 form태그 안 박스 */
.content-m-td-2-side2 {
	width: 50%;
	height: 100%;
	display: block;
}

.content-m-td-2-mid2 {
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-m-td-2-side-up2 {
	height: 20%;
	width: 100%;
}

.content-m-td-2-side-up-title2 {
	height: 100%;
	width: 45%;
	display: flex;
	align-items: center;
	font-size: 2.5rem;
	font-weight: 700;
}

.content-m-td-2-side-mid2 {
	height: 60%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-m-td-2-side-mid-logo2 {
	border-radius: var(- -Medium, 4px);
	border: 1px solid
		var(- -neutral-stroke-transparent-rest, rgba(255, 255, 255, 0.00));
	background: var(- -neutral-background-1-rest, #FFF);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 현재로고 이미지 사이즈 제한css */
#currentImg{
	width: 100%;
}

/*  로고 이미지 파일 업로드 칸*/
.logo_upload {
	width: 100%;
	height: 100%;
	text-align: center;
}

/*  로고 이미지 미리보기 & 파일업로드 대기 이미지*/
/* 라벨 */
.logo_upload>label {
	width: 100%;
}
/* 이미지 */
#logo_preview {
	width: 100%;
	height: 100%;
	background-size: contain; /* 이미지 div에 전체 */
	background-position: center;
	background-repeat: no-repeat;
}

/* 인풋 타입 파일 안보이게 */
#logo_img {
	display: none;
}

/* 버튼 */
.content-m-td-2-side-down {
	height: 30%;
	width: 100%;
	display: flex;
	align-items: center;
}

.content-m-td-2-mid-Play {
	text-align: center;
	width: 100%;
	font-size: 40pt;
	letter-spacing: -20px;
}

.content-m-td-2-side-down-button {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-m-td-2-side-down-button {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-m-td-2-side-down-button>button {
	border-radius: 5%/15%;
	border: none;
	background-color: #3B82F6;
	color: white;
	border: none;
	width: 28%;
	height: 90%;
	font-size: 1.5rem;
	cursor: pointer;
	margin-left: 10%;
	margin-right: 10%;
}

.content-m-td-2-side-down-button>button:focus {
	outline-color: transparent;
	outline-style: solid;
	box-shadow: 0 0 0 4px #000000;
}

.content-m-td-2-side-down-button>button:hover {
	background-color: #2f4d26;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}
/* from태그 */
form {
	width: 50%;
}