/* HTML CSS JSResult Skip Results Iframe
EDIT ON */
/* section calendar */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.company-padding {
	width: 100%;
	height: 100%;
	padding: 2.5%;
}

.company-con {
	/*     width: 100vw;
    height: 100vh; */
	width: 100%;
	height: 100%;
	/* 	border: 1px solid black; */
	display: flex;
	justify-content: space-between;
}

.sec_cal {
	/* 	border: 1px solid black; */
	width: 69%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.cal_nav {
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 48px;
}

.sec_cal .cal_nav .year-month {
	width: 100%;
	text-align: center;
}

.sec_cal .cal_wrap {
	/* 	border: 1px solid black; */
	/* background-color: #3c6ffa; */
	
}

.sec_cal .days {
	display: flex;
	border-bottom: 1px solid #ddd;
	width: 100%;
	height: 10%;
	align-items: center;
	justify-content: center;
}

.sec_cal .days .day {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.sec_cal .day {
	/* display:flex; */
	/* align-items: center;
    justify-content: center; */
	width: calc(100%/ 7);
	/* text-align: left; */
	color: #999;
	font-size: 1.2rem;
	padding: 0.2%;
	/* text-align: center; */
	/* border-radius:5px */
}

.current.today {
	position: relative;
}

.current.today img {
	width: 40px;
	height: 40px;
	position: absolute;
	/* 	top: -17.5%; */
	left: 0;
}

.sec_cal .dates {
	display: flex;
	flex-flow: wrap;
	height: 80%;
}

.sec_cal .day:nth-child(7n -1) {
	color: #3c6ffa;
}

.sec_cal .day:nth-child(7n) {
	color: #ed2a61;
}

.sec_cal .day.disable {
	color: #ddd;
}

.sec_cal .dates .current .month-date {
	width: 100%;
}

.sec_cal .dates .current div:first-child {
	display: flex;
}

.sec_cal .dates .current div:first-child input[type="checkbox"] {
	width: 20%;
	cursor: pointer;
}

.dateCheckBox:checked {
	accent-color: #ACF6B3;
}

.nav-btn {
	width: 8%;
	height: 80%;
	border: 1px solid black;
	border-radius: 6px;
	border: 1px solid #E5E7EB;
	background: #FFF;
	/* Tailwind dropshadow/shadow-sm */
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	position: relative;
}

.go-year-prev::after {
	position: absolute;
	left: 25%;
	top: 30%;
	content: '';
	width: 15px; /* 사이즈 */
	height: 15px; /* 사이즈 */
	border-top: 0.5vh solid #616161; /* 선 두께 */
	border-right: 0.5vh solid #616161; /* 선 두께 */
	transform: rotate(225deg); /* 각도 */
}

.go-year-prev::before {
	position: absolute;
	left: 45%;
	top: 30%;
	content: '';
	width: 15px; /* 사이즈 */
	height: 15px; /* 사이즈 */
	border-top: 0.5vh solid #616161; /* 선 두께 */
	border-right: 0.5vh solid #616161; /* 선 두께 */
	transform: rotate(225deg);
	height: 15px; /* 각도 */
}

.go-prev::after {
	position: absolute;
	left: 40%;
	top: 30%;
	content: '';
	width: 15px; /* 사이즈 */
	height: 15px; /* 사이즈 */
	border-top: 0.5vh solid #616161; /* 선 두께 */
	border-right: 0.5vh solid #616161; /* 선 두께 */
	transform: rotate(225deg); /* 각도 */
}

.go-next::after {
	position: absolute;
	right: 40%;
	top: 30%;
	content: '';
	width: 15px; /* 사이즈 */
	height: 15px; /* 사이즈 */
	border-top: 0.5vh solid #616161; /* 선 두께 */
	border-right: 0.5vh solid #616161; /* 선 두께 */
	transform: rotate(45deg); /* 각도 */
}

.go-year-next::after {
	position: absolute;
	right: 25%;
	top: 30%;
	content: '';
	width: 15px; /* 사이즈 */
	height: 15px; /* 사이즈 */
	border-top: 0.5vh solid #616161; /* 선 두께 */
	border-right: 0.5vh solid #616161; /* 선 두께 */
	transform: rotate(45deg); /* 각도 */
}

.go-year-next::before {
	position: absolute;
	right: 45%;
	top: 30%;
	content: '';
	width: 15px; /* 사이즈 */
	height: 15px; /* 사이즈 */
	border-top: 0.5vh solid #616161; /* 선 두께 */
	border-right: 0.5vh solid #616161; /* 선 두께 */
	transform: rotate(45deg); /* 각도 */
}

.date-modal {
	position: absolute;
	width: 15%;
	height: auto;
	visibility: hidden;
}

.date-modal-header {
	display: flex;
	width: 100%;
	height: auto;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
	background: #FFF;
}

.date-modal-title {
	font-size: 2rem;
	font-weight: 600;
	line-height: normal;
	width: 80%;
	padding: 2%;
	display: flex;
	align-content: center;
}

.modal-close {
	position: relative;
	width: 20%;
	height: auto;
	padding: 4%;
	display: flex;
	justify-content: end;
}

.modal-close::before, .modal-close::after {
	content: '';
	position: absolute;
	width: 50%;
	height: 10%;
	top: 40%;
	background-color: #333;
}

.modal-close::after {
	transform: rotate(45deg);
}

.modal-close::before {
	transform: rotate(-45deg);
}

.date-modal-content {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: normal;
	background: #FFF;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
	width: 100%;
	height: auto;
	padding: 2%
}

.modalTitleData {
	display: flex;
	justify-content: space-between;
}

.modalTitleData a {
	font-size: 1.5rem;
	color: #3B82F6;
	cursor: pointer;
	padding-top: 1%;
}

.modalTitleData a:hover {
	text-decoration: underline;
}

.detail-schedule {
	position: absolute;
	width: 20%;
	height: auto;
	visibility: hidden;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2), 0px 32px 64px 0px
		rgba(0, 0, 0, 0.24);
}

.detail-schedule-header {
	display: flex;
	width: 100%;
	height: auto;
}

.detail-schedule-title {
	font-size: 2rem;
	font-weight: 600;
	line-height: normal;
	width: 80%;
	padding: 2%;
	display: flex;
	align-content: center;
}

.detail-schedule-content {
	border-top: 1px solid rgba(165, 165, 165, 0.35);
	font-size: 1.5rem;
	font-weight: 600;
	width: 100%;
	height: auto;
	padding: 2%
}

.datail-schedule-data {
	display: flex;
	justify-content: space-between;
}

.datail-schedule-data a {
	font-size: 1.5rem;
	color: #FE2E2E;
	cursor: pointer;
	padding-top: 0.5%;
}

.datail-schedule-data a:hover {
	text-decoration: underline;
}

.delete-all-detail-data a {
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	color: #FE2E2E;
	cursor: pointer;
}

.delete-all-detail-data a:hover {
	text-decoration: underline;
}

.datail-schedule-txt {
	display: none;
	justify-content: space-between;
}

.datail-schedule-txt a {
	font-size: 1.5rem;
	color: #FE2E2E;
	cursor: pointer;
	padding-top: 1%;
}

.datail-schedule-txt a:hover {
	text-decoration: underline;
}

.update-txt-cancel {
	/* 	margin-left: 2.5%; */
	
}

.datail-schedule-txt input {
	font-size: 1.5rem;
	width: 65%;
	transition: background-color 0.3s ease;
}

.show {
	display: flex;
}

.confirm-delete {
	width: 15%;
	height: auto;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
	background: #FFF;
	padding: 1%;
	background: #FFF;
	position: absolute;
	display: none;
	z-index: 3;
}

.confirm-delete-content-announce {
	font-size: 1.5rem;
	text-align: center;
}

.confirm-delete-content-accept {
	display: flex;
	justify-content: space-around;
	margin-top: 10%;
	font-size: 1.5rem;
}

.confirm-delete-content-accept div {
	border: 1px solid black;
	padding: 3% 4% 2% 4%;
}

.confirm-delete-content-accept div:first-child {
	border-radius: 2%/15%;
	border: none;
	background-color: #3B82F6;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.confirm-delete-content-accept div:last-child {
	border-radius: 2%/15%;
	border: none;
	background-color: #ed2a61;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

/* ********************************************************* */
.company-form {
	height: auto;
	width: 29%;
}

.sec-ins {
	width: 100%;
	height: 100%;
}

.ins-tr-1 {
	/* 	border: 1px solid black; */
	height: 10%;
	display: flex;
	width: 100%;
	color: #363636;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: normal;
}

.ins-tr-td {
	/* 	border: 1px solid black; */
	height: 100%;
	width: calc(100%/ 3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.ins-tr-td-btn {
	height: 100%;
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
}

.toggleSwitch {
	width: 40%;
	height: 50%;
	display: block;
	position: relative;
	border-radius: 30px;
	background-color: #fff;
	box-shadow: 0 0 16px 3px rgba(0 0 0/ 15%);
	cursor: pointer;
}

/* 토글 버튼 */
.toggleSwitch .toggleButton {
	/* 버튼은 토글보다 작아야함  */
	width: 45%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 4px;
	transform: translateY(-50%);
	border-radius: 50%;
	background: #616161;
}

.toggleSwitch.active {
	background: #0F6CBD;
}

.toggleSwitch.active .toggleButton {
	left: calc(100% - 50%);
	background: #fff !important;
}

.toggleSwitch, .toggleButton {
	transition: all 0.2s ease-in;
}

.ins-tr-2 {
	width: 100%;
	height: 10%;
	display: flex;
	color: #363636;
	font-size: 2rem;
	font-weight: 600;
	line-height: normal;
	border-radius: 4px 4px 0 0;
	border: 1px solid rgba(255, 255, 255, 0.00);
	background: #FFF;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
	align-items: center;
	padding-left: 2%;
	padding-right: 2%;
}

.ins-tr-3 {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	color: #363636;
	font-size: 2rem;
	font-weight: 600;
	line-height: normal;
	border-radius: 0 0 4px 4px;
	border: 1px solid rgba(255, 255, 255, 0.00);
	background: #FFF;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
	padding-left: 2%;
	padding-right: 2%;
}

.ins-tr-3-title {
	/* 	border: 1px solid black; */
	width: 100%;
	height: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 1.5rem;
}

.ins-tr-3-date {
	/* 	border: 1px solid black; */
	width: 100%;
	height: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 1.5rem;
}

.ins-tr-3-td-input {
	width: 100%;
	font-size: 2rem;
	border-radius: 8px;
	border: 1px solid #E5E7EB;
	background: #FFF;
	/* tremor-input */
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	transition: background-color 0.3s ease;
}

.ins-tr-3-txt {
	/* 	border: 1px solid black; */
	width: 100%;
	height: 55%;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	font-size: 1.5rem;
}

.ins-tr-3-txt-tr {
	/* 	border: 1px solid black; */
	width: 100%;
	height: 100%;
	font-size: 2rem;
}

.ins-tr-txt-tr-title {
	width: 100%;
	height: 10%;
	font-size: 1.5rem;
}

.ins-tr-3-td-txt {
	width: 100%;
	font-size: 2rem;
	height: 90%;
	width: 100%;
	border-radius: 8px;
	border: 1px solid #E5E7EB;
	background: #FFF;
	/* tremor-input */
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	transition: background-color 0.3s ease;
}

.ins-tr-3-btn {
	/* 	border: 1px solid black; */
	width: 100%;
	height: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.company-button {
	border-radius: 2%/15%;
	border: none;
	background-color: #3B82F6;
	color: white;
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}