@charset "UTF-8";

@import
	url(https://db.onlinewebfonts.com/c/18039781048bd528f6304c029f5d0f99?family=SF+Pro+JP+Regular)
	;

@font-face {
	font-family: "SF Pro JP Regular";
	src:
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.eot");
	src:
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.eot?#iefix")
		format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.woff2")
		format("woff2"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.woff")
		format("woff"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.ttf")
		format("truetype"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.svg#SF Pro JP Regular")
		format("svg");
}

.content-m-td-3 {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
}

.popup-content {
	width: 100%;
	height: 100%;
}

.popup-tbl {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
}

.popup-tr {
	width: 25%;
	height: 98%;
	margin-top: 0;
	margin-bottom: 1.3%;
	margin-left: 1%;
	margin-right: 1%;
}
.popup-title{
	margin: 3.5%;
}
/* 미리보기 이미지 박스  */
.popup-td-img-box {
	border: solid 6px rgb(221, 226, 229);
	border-radius: 20px;
	width: 100%;
	height: 65%;
	margin-bottom: 1.5%;
	background-size: contain; /* 이미지 div에 전체 */
	background-position: center;
	background-repeat: no-repeat;
}

.popup-select-box {
	width: 100%;
	height: 10%;
	margin-bottom: 1.5%;
	font-size: 1.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
}
/* 현재 팝업 정보 */
.banner-td-3{
	width: 100%;
	height: 8%;
	margin-bottom: 1.5%;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
}

/* 박스 라인 */
.popup-input-line {
	border-radius: 5px;
	border-top: solid 1px rgb(209, 209, 209);
	border-left: solid 1px rgb(209, 209, 209);
	border-right: solid 1px rgb(209, 209, 209);
	border-bottom: solid 2px rgb(130, 130, 130);
}

.popup-select {
	width: 64%;
	height: 70%;
	font-size: 1.2rem;
	text-align: center;
}

.popup-select:hover {
	background: rgb(77, 77, 77);
	color: #fff;
	border-radius: 5px;
}
/* 파일업로드 버튼 */
.upload-input-box{
	margin-top: 3.5%;
}
.btn-upload {
	width: 215px;
	height: 40px;
	background: #fff;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-upload:hover{
	background: rgb(77, 77, 77);
	color: #fff;
}
/* url 첨부 인풋  */
.banner-td-2{
	width: 100%;
	height: 28%;
	margin-bottom: 1.5%;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
}
#urlBox{
	display: none;
}
.url-input{
	width: 215px;
	height: 40px;
}
/* 화살표 */
.arrow{
/* 	border: 1px solid black;  */
	width: 16%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* 최종 변경 버튼 */
/* 버튼 */
.content-button {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	padding-left: 65%;
}

.content-button>button {
	border-radius: 5%/15%;
	border: none;
	background-color: #3B82F6;
	color: white;
	border: none;
	width: 40%;
	height: 60%;
	font-size: 1.5rem;
	cursor: pointer;
}

.content-button>button:focus {
	outline-color: transparent;
	outline-style: solid;
	box-shadow: 0 0 0 4px #000000;
}

.content-button>button:hover {
	background-color: #2f4d26;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}

.radio{
	width: 55%;
	display: flex;
	justify-content: space-evenly;
}
