@charset "UTF-8";

/* 미디어 */
@media screen and (max-width: 500px) {
	
	.faq-content-box-td2-1{
	font-size: 2rem !important;
	}
	.faq-content-box-td2-2{
	height: 15vh;
	border-radius: 15px !important;
	}
	.faq-content-box-td2-2-content-1{
	font-size: 1.8rem !important;
	}
	.faq-content-box-td2-2-content-2{
	font-size: 1.5rem !important;
	}
	
	.faq-content-box-td2-2-txt{
	width: 100%;
	white-space: pre-wrap;
	word-break: break-all;
	}
	
	button{
		font-size: 1.5rem !important;
	}
	
	.faq-content-box-tr1{
	border-radius: 15px !important;
	}
	.faq-content-box-tr2{
	border-radius: 15px !important;
	}
	.faq-content-box-td1-2{
	border-radius: 15px !important;
	}
	.faq-content-box-td1-2-content{
	border-radius: 15px !important;
	word-break: break-all;
	}
	
}