/* Content 전체 박스 */
.content-box-tr {
	width: 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	height: 100%;
}

.content-box-td {
	text-align: center;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 100%;
	display: inline-block;
}

/* 서비스 탭 */
 a:link  {
	color:  red;
	text-decoration:  none;
}

 
a:visited  {
	color:  black;
	text-decoration:  none;
}

 a:hover  {
	color:  blue;
	text-decoration:  underline;
}

.content-tabbox-td {
	text-align: center;
	display: flex;
	width: 100%;
	height: 15vh;
}

@media ( max-width : 500px ) {
	.content-tabbox-td {
		height: 8vh;
	}
}

.content-tab-td {
	color: #62733d;
	text-align: center;
	text-shadow: 6px 6px 6px #ffdf6c;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	height: 30%;
}

.content-tab2-td {
	color: #62733d;
	text-align: center;
	text-shadow: 6px 6px 6px #ffdf6c;
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background: white;
	border-radius: 0px 30px 0px 0px;
}

@media ( max-width : 500px ) {
	.content-tab2-td {
		font-size: 1.5rem;
	}
}

.content-tab2-td>a {
	color: #62733d;
}

.content-tab1-td {
	color: #fff;
	/* 	text-align: center; */
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background: #849461;
	border-radius: 30px 0px 0px 0px;
}

@media ( max-width : 500px ) {
	.content-tab1-td {
		font-size: 1.5rem;
	}
}

.content-tab1-td>a {
	color: #fff;
}

.tab1-pos {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 50%;
}

.tab2-pos {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 50%;
}

.content-subtab-td {
	color: #546137;
	text-align: right;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.84px;
	font-size: 1.5rem;
	position: relative;
	margin-top: 2%;
	padding-right: 5%;
}

@media ( max-width : 500px ) {
	.content-subtab-td {
		font-size: 1rem;
	}
}

.content-subtab-td>img {
	padding-top: 5px;
	width: 1.5rem;
}
@media ( max-width : 500px ) {
	.content-subtab-td>img {
	width: 1rem;
}
}

/* 서비스 신청 순서 안내 */
.content-procedure-box-td {
	margin-top: 1%;
	width: 100%;
	height: 95vh;
	flex-shrink: 0;
	border-radius: 30px;
	background: #e9e6b1;
}

@media ( max-width : 500px ) {
	.content-procedure-box-td {
		height: 45vh;
	}
}

.content-title-box-td {
	width: 26%;
	height: 12%;
	flex-shrink: 0;
	border-radius: 20px;
	background: #fff;
	box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
	position: relative;
	top: 6%;
	margin-left: 38%;
	margin-right: 38%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.0rem;
	color: #546137;
	text-align: center;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.25px;
}

@media ( max-width : 500px ) {
	.content-title-box-td {
		width: 56%;
		height: 10%;
		flex-shrink: 0;
		border-radius: 20px;
		background: #fff;
		box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
		position: relative;
		top: 6%;
		margin-left: 22%;
		margin-right: 22%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		color: #546137;
	}
}

.content-procedure-box-ul-pos {
	width: 100%;
	list-style: none;
	height: 30%
}

.content-procedure-box-ul {
	padding-top: 5%;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

@media ( max-width : 500px ) {
	.content-procedure-box-ul {
		padding-top: 9%;
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}
}

.content-box-li-pagepos {
	box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	background: #ffdf6c;
	margin-top: 0.5%;
	width: 90%;
	height: 12%;
	flex-shrink: 0;
	display: flex;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	align-items: center;
	font-size: 1.8rem;
	color: #546137;
	text-align: center;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2px;
}

.content-box-li {
	box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.89);
	margin-top: 0.5%;
	width: 90%;
	height: 12%;
	flex-shrink: 0;
	display: flex;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	align-items: center;
	font-size: 2rem;
	color: #546137;
	text-align: center;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2px;
}


@media ( max-width : 500px ) {
.content-service-txt-box-td {
	width: 80%;
}
}
@media ( max-width : 500px ) {
	.content-box-li {
		box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
		border-radius: 20px;
		background: rgba(255, 255, 255, 0.89);
		margin-top: 1%;
		width: 90%;
		height: 12%;
		flex-shrink: 0;
		display: flex;
		position: relative;
		padding-top: 5px;
		padding-bottom: 5px;
		align-items: center;
		font-size: 0.8rem;
		color: #546137;
		text-align: center;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 2px;
	}
	.content-service-txt-box-td {
		width: 80%;
	}
}

.content-service-step-box-td {
	width: 20%;
	padding-left: 5%;
	text-align: left;
}