.content-m-td-2 {
	width: 100%;
	height: 88%;
	position: relative;
	width: 100%;
}

.ontent-m-td-2-chackbox {
	width: 100%;
	height: 8%;
	font-size: 0.5rem;
	padding-left: 6%;
}

.ontent-m-td-2-chackbox-contain {
	width: 35%;
	height: 100%;
	display: flex;
}

.ontent-m-td-2-chackbox-contain-input {
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
}

.ontent-m-td-2-chackbox-contain-txt {
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 0.9rem;
}

.contain-txt-schedule{
	width: 30%;
	font-size: 0.9rem;
}

.contain-txt-service {
	width: 20%;
}

.ontent-m-td-2-content {
	height: 92%;
	width: 100%;
	display: block;
	padding: 0% 5%;
}

.ontent-m-td-2-content-container {
	display: flex;
	width: 100%;
	height: 10%;
}

.ontent-m-td-2-content-txt {
	width: 100%;
	display: flex;
	height: 100%;
}

.ontent-m-td-2-content-txt-1 {
	background-color: fuchsia;
	width: 100%;
	height: 10%;
	display: block;
}

.ontent-m-td-2-content-txt-contain {
	width: 100%;
	height: 100%;
	display: flex;
}

.ontent-m-td-2-content-txt-no {
	color: #576D8F;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5%;
	font-weight: 700;
	font-size: 1.5rem;
	font-weight: 700;
}

.ontent-m-td-2-content-txt-kategorie {
	color: #576D8F;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 1.5rem;
	width: 15%;
	font-size: 1.5rem;
}

.ontent-m-td-2-content-txt-title {
	color: #576D8F;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 1.5rem;
	width: 40%;
	font-size: 1.5rem;
}

.ontent-m-td-2-content-txt-writer {
	color: #576D8F;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 1.5rem;
	width: 15%;
	font-size: 1.5rem;
}

.ontent-m-td-2-content-txt-date {
	color: #576D8F;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 1.5rem;
	width: 20%;
}

.ontent-m-td-2-content-txt-delete {
	color: #576D8F;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 1.5rem;
	width: 10%;
	font-size: 1.5rem;
}

.ontent-m-td-2-mid {
	height: 73%;
	display: block;
}

.ontent-m-td-2-content-txt-in {
	height: 12.5%;
	width: 100%;
	display: flex;
}

.ontent-m-td-2-content-txt-no-in {
	border-bottom: solid 1px #E5E7EB;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	width: 5%;
}

.ontent-m-td-2-content-txt-kategorie-in {
	border-bottom: solid 1px #E5E7EB;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	width: 15%;
}

.ontent-m-td-2-content-txt-title-in {
	border-bottom: solid 1px #E5E7EB;
	display: flex;
	align-items: center;
	font-size: 0.9rem;
	width: 40%;
	padding: 0% 4%;
}

.ontent-m-td-2-content-txt-title-in > a {
	cursor: pointer;
	white-space: nowrap; /* 텍스트를 한 줄로 유지 */
    overflow: hidden; /* 요소의 너비를 벗어나는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 긴 텍스트에 말줄임표 추가 */
    max-width: 52ch; /* 텍스트의 최대 너비를 35자로 설정 */
}

.ontent-m-td-2-content-txt-writer-in {
	border-bottom: solid 1px #E5E7EB;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	width: 15%;
}

.ontent-m-td-2-content-txt-date-in {
	border-bottom: solid 1px #E5E7EB;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	width: 20%;
}

.ontent-m-td-2-content-txt-delete-in {
	border-bottom: solid 1px #E5E7EB;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	width: 10%;
}

.ontent-m-td-2-bottom {
	width: 100%;
	height: 17%;
	display: flex;
}

.ontent-m-td-2-page-side {
	height: 100%;
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.ontent-m-td-2-page-center {
	height: 100%;
	width: 50%;
}

/* 
���⼭���ʹ�  noticeEditPage.jsp ����!
 */
.modal-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-tbl {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
}

.modal-title-set {
	display: block;
	width: 100%;
	height: 100%;
}

.modal-title-tr {
	display: flex;
	height: 25%;
	width: 100%;
}

.modal-title-td-1 {
	width: 90%;
	display: flex;
	justify-content: end;
	align-items: end;
}

.real-title {
	width: 94.5%;
	height: 75%;
	display: block;
	align-items: center;
}

/* 관리자 공지사항 게시판 뷰 모달창 제목 타이블 div */
.real-title-V {
	padding: 1%;
	width: 94.5%;
	height: 65%;
	display: flex;
	align-items: center;
	font-size: 2.5rem;
	font-weight: 700;
	white-space: nowrap; /* 텍스트를 한 줄로 유지 */
    overflow: hidden; /* 요소의 너비를 벗어나는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 긴 텍스트에 말줄임표 추가 */
/*     max-width: 35ch; 텍스트의 최대 너비를 35자로 설정 */
}

.real-title-up {
	display: flex;
	align-items: center;
	height: 50%;
	width: 100%;
	font-size: 2.5rem;
	font-weight: 700;
}

.real-title-down {
	height: 50%;
	width: 100%;
	display: flex;
}

.real-title-down-L {
	height: 100%;
	width: 10%;
	height: 100%;
}

.real-title-down-R {
	height: 100%;
	width: 10%;
}

.real-title-down-contain {
	height: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: #37496E;
}

.real-title-editor {
	width: 100%;
	height: 80%;
	padding: 1%;
	border: none;
	border-top: 1px solid #D1D1D1;
	font-size: 2.5rem;
	font-weight: 700;
}

.real-title-select {
	height: 20%;
	display: block;
}

.real-title-view {
	padding: 0% 0% 1% 1%;
	width: 94.5%;
	height: 75%;
	display: block;
}

.real-title-up {
	display: flex;
	align-items: center;
	height: 50%;
	width: 100%;
	font-size: 2.5rem;
	font-weight: 700;
}

.real-title-down {
	height: 50%;
	width: 100%;
	display: flex;
}

.real-title-down-L {
	height: 100%;
	width: 10%;
	height: 100%;
}

.real-title-down-R {
	height: 100%;
	width: 10%;
}

.real-title-down-contain {
	height: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: #37496E;
}

.modal-title-td-2 {
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	height: 75%;
	width: 100%;
	padding: 0% 5% 2% 5%;
}

.ck-form {
	height: 100%;
	width: 100%;
}

.modal-content-txt {
	border-top: 1px solid #D9D9D9;
	height: 90%;
}

.modal-content-txt-in {
	padding-top: 2%;
/* 	font-size: 2.5rem; */ 
/* 	font-weight: 700; */
}

.modal-content-button {
	height: 10%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: auto;
}

.SubmitButton {
/* 	border-radius: 2%/15%; */
	border: none;
	background-color: #3B82F6;
	color: white;
	width: 10%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}

.SubmitButton-content {
/* 	border-radius: 2%/15%; */
	border: none;
	background-color: #3B82F6;
	color: white;
	width: 40%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	cursor: pointer;
}

.ck-editor__editable_inline:not(.ck-comment__input *) {
	overflow-y: auto;
	height: 100%;
}

.ck-editor__main {
	overflow-y: auto;
	border-bottom: 1px solid #616161;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
}

.ck.ck-reset.ck-editor.ck-rounded-corners {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.ck-editor__editable[role="textbox"] {
	/* editing area */
	min-height: 200px;
}

.close {
	color: #535353;
	float: right;
	font-size: 4rem;
	width: 100%;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.ck.ck-editor {
	width: 100%;
}

/* 뷰 모달창  */
.noticeViewPageTextarea {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 2.5rem;
}

.toggle {
	width: 10%;
	position: relative;
	z-index: 5;
}

.kategorie {
	border: 1px solid #d1d1d1;
}

.toggle-down {
	display: none;
	background-color: white;
	border: 1px solid #d1d1d1;
}

.toggle-down:hover {
	display: flex;
}

.toggle-down-block {
	display: block;
	width: 100%;
}

.toggle-item:hover {
	border: solid 1px black;
}

.paging-div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.paging-div button, .paging-div a {
	white-space: nowrap;
	margin: 0 0.3%;
}

.current-page {
	color: #4A572E !important;
	font-weight: 700;
}

/* 뷰 모달창 css */

#Display-Category {
	margin-right: 90.55%;
	border: 1px solid #d1d1d1;
}

.viewModalHeader {
	width: 90%;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

.Display-Category-wrap {
	width: 94.5%;
	margin-bottom: 0.2%;
}

.real-title-V {
 	border-top: 1px solid #D1D1D1;
}

.viewModal-content-txt {
/* 	outline: 1px solid red; */
	overflow-y: auto;
	border: 1px solid black;
	border-color: var(--ck-color-base-border);
	border-bottom: 1px solid #616161;
}

.viewModal-content-txt figure {
	margin: 0.3em auto;
    text-align: center;
}

.viewModal-content-txt img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.viewModal-content-txt-in {
	padding-top: 1%;
}

#img-temporary, #img-temporaryR {
	visibility: hidden;
    position: absolute;	
}

.noticeCheck, .kategorie, .toggle {
	cursor: pointer;
}

.deleteNoticeBtn {
	padding: 5% 15%;
    font-size: 1rem;
    background-color: #576D8F;
    color: antiquewhite;
    border-radius: 2% 15%;
    border: none;
    cursor: pointer;	
}

.paging-div > a{
	font-size: 1.2rem;
	color: #C0C0C0;
	font-weight: bolder;
}

.paging-div button {
	background-color: #99B361;
	border: none;
	border-radius: 20%;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0.2rem;
}

.paging-div button[disabled] {
	background-color: #999999;
	border: none;
	color: #ccc;
}

/* 이전, 다음 버튼 */
.paging-div button.pagingPrevious{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.paging-div button.pagingNext{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

/* 맨앞,맨뒤 버튼 */
.paging-div .pagingMostPrevious{
	background-color: #738749;
}
.paging-div button.pagingMostPrevious:disabled {
	background-color: #999999;
	border: none;
	color: #ccc;
}

.paging-div .pagingMostNext{
	background-color: #738749;
}
.paging-div button.pagingMostNext:disabled {
	background-color: #999999;
	border: none;
	color: #ccc;
}

#real-title-editorN {
	font-family: 'KosugiMaru-Regular', sans-serif;
}

.real-title-editor::placeholder {
    font-family: 'KosugiMaru-Regular', sans-serif;
}
