@charset "UTF-8";

.deshboard-content {
	display: flex;
	justify-content: center;
	align-content: center;
	/* 	border: 1px solid black; */
	width: 100%;
	width: 100%;
	height: 100%;
}

.deshboard-content-box {
	width: 95%;
	height: 100%
}

.deshboard-todo-box-1 {
	/* 	border: 1px solid black; */
	width: 100%;
	height: 28%;
	border-radius: 5px;
	background: #FFF;
	box-shadow: 5px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.deshboard-todo-title-1 {
	font-size: 25px;
	font-weight: 600;
	border-bottom: 1px solid #D9D9D9;
	padding-top: 1%;
	padding-bottom: 1%;
	display: flex;
}

.deshboard-todo-list-1 {
	width: 100%;
	font-size: 15px;
	font-weight: 600;
	border-bottom: 1px solid #D9D9D9;
}

.deshboard-todo-box-area {
	/* 	border: 1px solid black; */
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 45%;
	margin-top: 1%
}

.deshboard-todo-box-2 {
	/* 	border: 1px solid black; */
	width: 49%;
	flex-shrink: 0;
	border-radius: 5px;
	background: #FFF;
	box-shadow: 5px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.deshboard-todo-title-2 {
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	border-bottom: 1px solid #D9D9D9;
	padding-top: 1%;
	padding-bottom: 1%;
	display: flex;
	height: 20%;
}

.deshboard-todo-list-2 {
	width: 100%;
	height: 70%;
}

.deshboard-todo {
	width: 100%;
	font-weight : 600;
	/* 	border-bottom: 1px solid #D9D9D9; */
	display: flex;
	font-weight: 600;
}

.deshboard-todo-cell {
	font-size: 15pt;
	text-align: center;
	border: 1px solid #D9D9D9;
}

.reservationList {
	overflow-y: scroll;
}

.reservationList::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.qalist {
	overflow-y: scroll;
}

.qalist::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.eventlist {
	overflow-y: scroll;
}

.eventlist::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.staffList {
	overflow-y: scroll;
}

.staffList::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.service {
	width: 15%
}

.name {
	width: 25%
}

.phonNum {
	width: 40%
}

.time {
	width: 20%
}

.title {
	width: 40%;
}

.writer {
	width: 25%;
}

.reg-date {
	width: 20%;
}

.company-title{
	width: 30%;
}

.company-txt {
 width: 55%;	
}

.staff-name {
	width: 30%;
}

.staff-position {
	width: 20%;
}

.staff-phone {
	width: 35%;
}