<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <link href="https://db.onlinewebfonts.com/c/18039781048bd528f6304c029f5d0f99?family=SF+Pro+JP+Regular"
    rel="stylesheet" />
  <link rel="stylesheet" href="0.css/index.css" />
  <!-- 헤더 css -->
  <link rel="stylesheet" href="0.css/index-menu.css" />
  <!-- jquery라이브러리 -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous">
    </script>
  <!-- 헤더 js -->
  <script src="0.js/index-menu.js"></script>
</head>
<body>
<div class="container">
    <!-- 여기부터 -->
    <div class="header-tbl">
      <div class="header-opmenu-back">
      </div>
      <div class="header-tr-1">
        <div class="header-br-logo">
          <img src="0.img/logo.png">
          <a href="">ハロー</a>
        </div>
        <div class="header-br-space"></div>
        <div class="header-br-call">Tel. 06-6997-6531</div>
      </div>
      <div class="header-tr-2">
        <div class="header-td">
          <div class="header-td-menu">
            <div class="header-td-menu-title">
              <a href="InfoCompanyC" class="">소개
                <span class="header-td-menu-under"></span>
              </a>
            </div>
            <div class="header-opmenu-td">
              <a class="header-opmenu-a" href="InfoCompanyC">회사소개</a>
              <a class="header-opmenu-a" href="InfoMapC">오시는길</a>
            </div>
          </div>
          <div class="header-td-menu">
            <div class="header-td-menu-title">
              <a href="Announced_C" class="">소식
                <span class="header-td-menu-under"></span>
              </a>
            </div>
            <div class="header-opmenu-td">
              <a class="header-opmenu-a" href="Announced_C">공지사항</a>
              <a class="header-opmenu-a" href="Album_insta_api_C">앨범</a>
              <a class="header-opmenu-a" href="Employment_C">채용공고</a>
            </div>
          </div>
          <div class="header-td-menu">
            <div class="header-td-menu-title">
              <a href="ServiceInformationC" class="">서비스
                <span class="header-td-menu-under"></span>
              </a>
            </div>
            <div class="header-opmenu-td">
              <a class="header-opmenu-a" href="ServiceInformationC">서비스안내</a>
              <a class="header-opmenu-a" href="ServiceApplyC">서비스신청</a>
            </div>
          </div>
          <div class="header-td-menu">
            <div class="header-td-menu-title">
              <a href="FaqC" class="">QnA
                <span class="header-td-menu-under"></span>
              </a>
            </div>
            <div class="header-opmenu-td">
              <a class="header-opmenu-a" href="FaqC">자주묻는질문</a>
              <a class="header-opmenu-a" href="QuestionC">문의게시판</a>
            </div>
          </div>
          <div class="header-td-menu">
            <div class="header-td-menu-img">
              <img src="0.img/🦆 icon _menu_.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 여기까지만 추가하시면 됩니다. -->
    
    
    
    <div class="slogan-tbl">"슬로건"</div>
    <div class="quick-menu-tbl">
      <div>채용공고</div>
      <div>신청</div>
      <div>문의</div>
    </div>
    <div class="main-notice-tbl">공지사항부분</div>
    <div class="main-map-tbl">오시는길 부분</div>
    <div class="footer-tbl">
      
    </div>
  </div>
</body>
</html>