@font-face {
    font-family: 'KosugiMaru-Regular';
    src: url('/admin/0.font/KosugiMaru-Regular.ttf');
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'KosugiMaru-Regular', sans-serif;
}

a {
	text-decoration: none;
}

.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	/* 	justify-content: end; */
}

.menu-tr {
	width: 17vw;
	height: 100vh;
	background-color: #4a572e;
	transition: all 0.3s ease;
	right: 83vw;
}

.menu-td-1 {
	width: 17vw;
	height: 10vh;
	border-bottom: solid 0.5px #738749;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-td-1>a {
	color: #ffffff;
	font-size: 4rem;
}

.menu-td-2 {
	width: 17vw;
	height: 12.5vh;
	border-bottom: solid 0.5px #738749;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: #ffffff;
}

.menu-td-2-td {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 80%;
	justify-content: space-evenly;
	font-size: 1.5rem;
}

.menu-td-2-td>div {
	display: flex;
	align-items: center;
	gap: 10%;
}

.menu-td-2-td>div:nth-child(2)>a {
	color: #ffffff;
}

.menu-td-3 {
	width: 17vw;
	height: 67.5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-td-3-td-1 {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 80%;
	height: 5%;
	color: #738749;
}

.menu-td-3-td-2 {
	display: flex;
	flex-direction: column;
	height: 95%;
	width: 100%;
	justify-content: start;
	padding-top: 2.5%;
	gap: 2.5%;
}

.menu-td-3-td-2>div:first-child {
	display: flex;
	align-items: center;
	padding: 1.5%;
	padding-left: 10%;
	gap: 5%;
	font-size: 1.5rem;
}

.menu-td-3-td-2>div:first-child>a {
	color: #ffffff;
}

.menu-td-3-td-open-td-2 {
	display: flex;
	flex-direction: column;
	height: 7%;
}

.menu-td-3-td-open-td-2-td-1 {
	display: flex;
	align-items: center;
	gap: 5%;
	width: 100%;
	padding: 1.5%;
	padding-left: 10%;
	background-color: none;
	font-size: 1.5rem;
}

.menu-td-3-td-open-td-2-td-1>span {
	color: #ffffff;
}

.menu-td-3-td-open-td-2-td-1>span:hover {
	cursor: pointer;
}

.menu-td-3-td-open-td-2-con {
	visibility: hidden;
}

.menu-td-3-td-open-td-2-con-td-2 {
	display: flex;
	flex-direction: column;
	padding-left: 0;
}

.menu-td-3-td-open-td-2-con-td-2-select {
	display: flex;
	width: 100%;
	align-items: end;
	padding-top: 5%;
	font-size: 1.2rem;
}

.menu-td-3-td-open-td-2-con-td-2-select>a {
	color: #ffffff;
	padding-left: 5%;
}

.menu-td-3-td-open-td-2-con-td-2-select>img {
	width: 10%;
	visibility: hidden;
}

.menu-td-4 {
	width: 17vw;
	height: 10vh;
	background-color: #2a321a;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}

.menu-td-4-td {
	display: flex;
	font-size: 1.5rem;
	justify-content: start;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 2rem;
}

.menu-td-4-td>div {
	width: 100%;
	display: flex;
	align-items: center;
	margin-left: 10%;
	gap: 10%;
}

.admin-menu-folding {
	position: absolute;
	display: flex;
	width: 1.5vw;
	height: 15vh;
	top: 40%;
	left: 17vw;
	z-index: 1;
	transition: all 0.3s ease;
}

.admin-menu-folding>img:first-child {
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
}

.admin-menu-folding>img:last-child {
	display: flex;
	width: 80%;
	height: 25%;
	position: absolute;
	left: 7.5%;
	top: 37.5%;
	transition: all 0.3s ease;
}

.header-tr {
	width: 83vw;
	height: 10vh;
	background-color: #ffffff;
	padding-left: 2.5%;
	padding-right: 2.5%;
	transition: all 0.3s ease;
}

.header-td {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	align-items: center;
}

.header-td-user {
	width: 15%;
	height: 60%;
}

.header-td-user>div {
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 2.5rem;
	font-weight: 700;
	color: #4E4E4E;
}

.header-td-login {
	display: flex;
	width: 42.5%;
	height: 60%;
	justify-content: space-between;
}

.sessionTimeout {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
}

.sessionTimeout>img {
	height: 2.5rem;
}

.header-td-login>div {
	display: flex;
	width: 47.5%;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	margin-left: 3%;
}

.header-td-login>div>a {
	color: white;
}

.header-td-login>div:nth-child(2) {
	border-radius: 5px;
	background: #99B361;
}

.header-td-login>div:nth-child(3) {
	border-radius: 5px;
	background: #A5A5A5;
}

.content-tr {
	width: 83vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
	transition: all 0.3s ease;
/* 	position: absolute; */
	top: 10vh;
}

.content-main-td {
	width: 95%;
	height: 95%;
	border-radius: var(--border-radius-tremor-small, 3px);
	border: 0.5px solid var(--boarder-default, #E5E7EB);
	background: var(--background-default, #FFF);
	box-shadow: 0px 0.2px 1.5px 0px rgba(0, 0, 0, 0.10), 0px 1px 0px -1px
		rgba(0, 0, 0, 0.10);
}

.content-m-td-1 {
	width: 100%;
	height: 12%;
	display: flex;
	align-items: center;
	border-bottom: solid 0.5px #d9d9d9;
	padding-left: 2.5%;
}

.content-m-td-title {
	font-size: 2.5rem;
	font-weight: 700;
}

/* ************************위로수정금지************************ */
.content-m-td-2 {
	width: 100%;
	height: 88%;
}