@charset "UTF-8";

.header-tbl {
	width: 100%;
	height: 60vh;
}

.header-tr-1 {
	filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.4));
	width: 100%;
	height: 10%;
	padding-left: 3%;
	padding-right: 3%;
	position: fixed;
	display: flex;
	z-index: 1;
}
/* 로고 이미지 크기 수정 필요X 백그라운드로 자동 크기맞춤O */
.header-br-logo {
	display: flex;
	font-size: 500%;
	font-weight: 700;
	width: 25%;
	align-items: center;
	background-size: contain; /* 이미지 div에 전체 */
	background-position: center;
	background-repeat: no-repeat;
}

/* .header-br-logo>a:visited { */
/* 	/*   color: #546137; */ */
	
/* } */

.header-br-logo>img {
	height: 120%;
	object-fit: cover;
}

.header-br-space {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mobileHamburg {
	display: none;
}

.header-br-call {
	width: 25%;
	border-radius: 20px;
	background: rgba(255, 228, 131, 0.9);
	box-shadow: 5px 4px 6px 0px rgba(0, 0, 0, 0.3);
	display: flex;
	visibility: visible;
	justify-content: center;
	align-items: center;
	font-size: 250%;
	font-weight: 700;
	color: #546137;
}

.header-tr-2 {
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: column;
	padding-left: 10%;
	padding-right: 10%;
	top: 10%;
	transition: all 0.1s ease-out;
	position: fixed;
	z-index: 1;
}

.header-td {
	display: flex;
	width: 100%;
	height: 100%;
}

.header-td-menu {
	width: 100%;
	display: flex;
	filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.header-td-menu-title {
	width: 100%;
	height: 20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header-td-menu-title>a {
	font-size: 350%;
	color: #536138;
	font-weight: 700;
	position: fixed;
	transition: all 0.1s ease-out;
}

.header-opmenu {
	display: flex;
	width: 100%;
	height: 25%;
	position: fixed;
	top: 25%;
	padding-left: 10%;
	padding-right: 10%;
	z-index: -1;
}

.header-td-menu-under {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform: scaleX(0);
	transition: all 0.1s ease-in-out;
}

.header-opmenu-td {
	width: 100%;
	height: auto;
	font-size: 200%;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
	filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
	transition: all 0.05s ease-out;
	top: 100%;
	gap: 15%;
	visibility: hidden;
}

.header-opmenu-a {
	color: white;
}

.header-opmenu-back {
	border-radius: 0px 0px 40px 40px;
	background: rgba(111, 130, 69, 0.89);
	width: 100vw;
	height: 50vh;
	position: fixed;
	top: -50vh;
	transition: all 0.2s ease-out;
	z-index: 1;
}

/* 미디어 쿼리 작업 시작 */
@media only screen and (max-width: 500px) {
	.header-tbl {
		width: 100%;
		height: 20vh;
	}
	.mobileHamburg {
		display: flex;
	}
	.header-td-menu {
		flex-direction: column;
		display: flex;
		height: 100%;
		justify-content: space-between;
	}
	.header-td-menu-title>a {
		font-size: 200%;
		color: #FFF;
	}
	.header-br-logo {
		width: 40%;
	}
	.header-br-space {
		width: 20%;
	}
	.header-br-call {
		width: 40%;
		font-size: 2rem;
	}
	.header-tr-2 {
		height: 20vh;
		z-index: -1;
		display: none;
	}
	.header-tr-1 {
		transition: all 0.1s ease-out;
	}
	.header-opmenu-back {
		height: 30vh;
	}
}