@charset "UTF-8";

#modalOpenButton, #modalCloseButton {
	cursor: pointer;
}

#modalCloseButton {
	font-weight: 600;
	width: 45px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid rgb(83, 94, 59);
	background-color: rgb(255, 246, 228);
}

#pop-checkbox {
	width: 20px;
	height: 20px;
	border: 1px solid gray;
}

#modalContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	z-index: 98;
}

#modalEvContent {
	position: absolute;
	background-color: #ffffff;
	width: 580px;
	height: 780px;
	z-index: 99;
	height: 780px;
	display: flex;
	flex-direction: column;
}

#modalContent {
	position: absolute;
	overflow-y: auto;
	background-color: #ffffff;
	width: 70%;
	height: 780px;
	z-index: 99;
	height: 51%;
	display: flex;
	flex-direction: column;
}

#modalContainer.hidden {
	display: none;
}

#modalContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
}

#modalContainer.hidden {
	display: none;
}

#modal-img {
	z-index: 99;
	position: block;
	background-color: #ffffff;
	width: 580px;
	height: 740px;
	background-repeat: no-repeat;
	background-size: cover;
}

#buttonArea {
	background-color: rgb(255, 229, 182);
	width: 100%;
	height: 40px;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/* 마우스 커서 포인터css */
.btn-pointer {
	cursor: pointer;
}