@charset "UTF-8";
@import
	url(https://db.onlinewebfonts.com/c/18039781048bd528f6304c029f5d0f99?family=SF+Pro+JP+Regular)
	;

@font-face {
	font-family: "SF Pro JP Regular";
	src:
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.eot");
	src:
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.eot#iefix")
		format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.woff2")
		format("woff2"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.woff")
		format("woff"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.ttf")
		format("truetype"),
		url("https://db.onlinewebfonts.com/t/18039781048bd528f6304c029f5d0f99.svg#SF Pro JP Regular")
		format("svg");
}
/* 컨텐트  */
.map-content-sec {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

/* 컨텐트 박스 */
.content-box-tbl {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 35px;
	width: 95%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 회사소개 오시는길 버튼(css바뀌어야함) */
.content-box-tr {
	width: 100%;
	display: flex;
	height: 15vh;
}

/* 메뉴로드 아이콘 */
.introduce-td1>img {
	width: 1.7%;
}

/* 회사소개 */
.content-box-td1 {
	background-color: rgb(132, 148, 97);
	color: white;
	height: 100%;
	font-size: 2.5rem;
	width: 50%;
	font-style: normal;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 30px;
	
}

.content-box-td1>a {
	color: white;
	cursor: hand;
}
/* 오시는길 */
.content-box-td2 {
	height: 100%;
	color: rgb(132, 148, 97);
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 700;
	text-shadow: 4px 4px 4px #ffdf6c;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 30px;
}

.content-box-td2>a {
	color: #546137;
	cursor: hand;
}

/* 회사 소개 내용 */
.introduce-tbl {
	height: auto;
	width: 96%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.introduce-tr {
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* 페이지로드>소개>오시는길 */
.page-road {
	color: #546137;
	font-size: 1.5rem;
	font-weight: 700;
	width: 100%;
	text-align: right;
}

/* 인사말 title */
.introduce-tr-box {
	width: 100%;
	height: 15vh;
	padding-top: 2%;
	color: #546137;
	font-size: 1.5rem;
	font-weight: 700;
}

.introduce-td1 {
	color: #546137;
	font-size: 1.5rem;
	font-weight: 700;
	width: 100%;
	text-align: right;
	padding-right: 5%;
}

.introduce-td2 {
	color: #546137;
	text-shadow: 4px 4px 4px #ffdf6c;
	font-size: 2.3rem;
	font-weight: 700;
	display: flex;
	justify-content: center;
}

/* 구글맵 컨텐트 박스 */
.map-tbl {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 150vh;
	align-items: center;
}

/* 구글맵 자리 */
.map-tr {
	border: solid 4px rgb(255, 223, 108);
	width: 100%;
	height: 70%;
	border-radius: 30px;
}
.map-tr > iframe {
	border-radius: 30px;
}

/* 하단 텍스트박스 자리 */
.map-tr1 {
	width: 100%;
	height: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* 맵 텍스트 */
.map-tr2 {
	background-color: rgb(255, 255, 255);
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
	border-radius: 30px;
	width: 80%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.map-td {
	color: #546137;
	text-shadow: 4px 4px 4px #ffdf6c;
	font-size: 2.3rem;
	font-weight: 700;
	text-align: center;
	height: 5vh;
}
/* 마우스 커서 포인터css */
.btn-pointer {
	cursor: pointer;
}

/* 반응형 미디어쿼리 */
@media only screen and (max-width: 500px) {
	/* 컨텐트 박스 */
	.content-box-tbl {
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 35px;
		width: 95%;
		height: 77vh !important;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/* 메뉴로드 아이콘 */
	.introduce-td1>img {
		width: 4% !important;
	}
	/* 회사소개 오시는길 버튼*/
	.content-box-tr {
		width: 100%;
		display: flex;
		height: 8vh !important;
	}
	.content-box-td1 {
		color: rgb(132, 148, 97);
		height: 100%;
		font-size: 1.5rem !important;
		width: 50%;
		font-style: normal;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top-left-radius: 30px;
		text-shadow: 4px 4px 4px #ffdf6c;
	}
	.content-box-td2 {
/* 		background-color: rgb(132, 148, 97); */
		height: 100%;
		color: rgb(132, 148, 97);
		font-size: 1.5rem !important;
		font-style: normal;
		font-weight: 700;
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top-right-radius: 30px;
	}

	/* 오시는길 title */
	.introduce-tr-box {
		width: 100%;
		height: 14vh !important;
		padding-top: 6% !important;
		color: #546137;
		font-size: 1.5rem;
		font-weight: 700;
	}
	.introduce-td1 {
		color: #546137;
		font-size: 1rem !important;
		font-weight: 700;
		width: 100%;
		text-align: right;
		padding-right: 5%;
	}
	.introduce-td2 {
		color: #546137;
		text-shadow: 4px 4px 4px #ffdf6c;
		font-size: 1.7rem !important;
		font-weight: 700;
		display: flex;
		justify-content: center;
		margin-top: 3%;
	}
	
	/* 구글맵 컨텐트 박스 */
	.map-tbl {
		display: flex;
		flex-direction: column;
		width: 100% !important;
		height: 50vh !important;
		align-items: center;
	}
	/* 맵 텍스트 */
	.map-tr2 {
		background-color: rgb(255, 255, 255);
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
		border-radius: 30px;
		width: 100% !important;
		height: 87% !important;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 9%;
	}
	.map-td {
		color: #546137;
		text-shadow: 4px 4px 4px #ffdf6c;
		font-size: 1rem !important;
		font-weight: 700;
		text-align: center;
		height: 5vh;
	}
}
/* 반응형 끝 */